/* Reset some basic styling */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  padding-top: 100px; /* Adjust this if necessary based on header height */
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000; /* Dark gray, very close to black */
  background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, transparent 70%);
  padding: 10px 20px; /* Reduced padding for a shorter header */
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

/* Additional margin for the main body to avoid being cut off by the header */
main {
  padding-top: 70px; /* Adjust this based on the final height of your header */
}

.pdf-viewer {
  background-color: #1a1a1a; /* Background for the viewer */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Add margin for spacing */
}

.title-text {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 60px;
  color: darkseagreen;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 20px;
  padding: 20px;
}

.curly-bracket {
  font-size: 24px; /* Adjust size */
  color: darkseagreen; /* Bracket color */
  margin: 0 5px; /* Space around brackets */
  vertical-align: middle; /* Align with text */
}

.s1, .projects-section, .contact-section {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.s1 h2, .projects-section h2, .contact-section h2 {
  color: #efefef;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.s1 li {
  margin-bottom: 5px; /* Increase the space between items */
}

a {
  color: #03C682;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*PDF Viewer*/
.pdf-viewer {
  position: relative;
  overflow: hidden;
}

.dark-pdf {
  filter: invert(1) hue-rotate(180deg); /* Invert colors for dark mode */
}

.light-pdf {
  filter: none; /* Default styling for light mode */
}

@media screen and (min-width: 768px) {
  /* For larger screens, use a two-column layout */
  .content-section {
    grid-template-columns: 1fr 1fr;
  }
}
/*About Me*/
.about-me {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
  color: #efefef;
}

.about-me p {
  margin-bottom: 10px; /* Space between paragraphs */
}
